<div class="container">
    <div class="row justify-content-center mt-3">
        <h1 class="text-primary"><%= params[:keyword] %></h1>
        <h1>の検索結果</h1>
    </div>
    <hr>

    <% @questions.each do |question| %>
      <div class="row">
          <div class="col-sm-4">
              <div class="w-50 ">
                <%= render 'layouts/prof_icon', user: question.user %>
              </div>
          </div>
          <div class="col-sm-8">
            <%= render 'layouts/question_index', question: question, user: question.user %>
          </div>
      </div>
      <hr>
    <% end %>
    
    <%= paginate @questions %>

</div>
    