<div class="container">
    <h1 class="text-center mt-3">検索結果</h1>
    <hr>

    <% @questions.each do |question| %>
      <div class="row">
          <div class="col-sm-4">
              <div class="w-50 ">
                <%= render 'layouts/prof_icon', user: question.user %>
              </div>
          </div>
          <div class="col-sm-8">
            <%= render 'layouts/question_index', question: question, user: question.user %>
          </div>
      </div>
      <hr>
    <% end %>

</div>
    