<div class="container" >
    <div class="row mt-5 justify-content-center">
            <div class="col-sm-4">
              <%= render 'layouts/prof_icon', user: @user %>
            </div>
    </div>
    
    
    <div class="text-center mt-5">
        <h1>質問一覧</h1>
    </div>
    
    
      <% @user.questions.each do |question| %>
        <div class="mb-3">
          <%= render 'layouts/question_index', question: question, user: @user %>
        </div>
      <% end %>
    
</div>
