<div class="container" >
    <div class="row mt-5 justify-content-center">
        <div class="col-sm-4">
            <div class="card">
                <img class="rounded-circle d-block mx-auto img-fluid card-img-top" src="<%= gravatar_url(@user) %>" alt="">
                <div class="card-footer text-center">
                  <%= link_to @user.name, user_path(@user.id) %>
                </div>
            </div>
        </div>
    </div>
    
    
    <div class="text-center mt-5">
        <h1>質問一覧</h1>
    </div>
    <div class="border-top"></div>
    
      <% questions = @user.questions.order(id: :desc).page(params[:page]).per(10) %>
      <% questions.each do |question| %>
        <div class="border-bottom">
            <div class="mb-3">
              <%= render 'layouts/question_index', question: question, user: @user %>
            </div>
        </div>
      <% end %>
      
      <%= paginate questions %>
    
</div>
