<div class="row justify-content-center mt-5">
    <div class="col-sm-4">
        <div class="card">
            <div class="card-body">
                <img class="rounded-circle d-block mx-auto" src="<%= gravatar_url(@user, { size: 200 }) %>" alt="">
            </div>
            <div class="card-footer text-center">
                <%= @user.name %>
            </div>
        </div>
    </div>
</div>
<div class="justify-content-center mt-5">
    <h1 class="text-center">質問一覧</h1>
</div>
</div>
<div class="border-top"></div>
<div class="text-center mt-4">
    質問タイトル
</div>
<div class="text-center mt-3">
    質問本文
</div>
