<div class="container" >
    
    <div class="mx-auto mt-5" style="width: 200px;">
      <%= render 'layouts/prof_icon', user: @user %>
    </div>
    
    
    <div class="text-center mt-5">
        <h1>質問一覧</h1>
    </div>
    <div class="border-top"></div>
    
      <% questions = @user.questions.order(id: :desc).page(params[:page]).per(10) %>
      <% questions.each do |question| %>
        <div class="border-bottom">
            <div class="mb-3">
              <%= render 'layouts/question_index', question: question, user: @user %>
            </div>
        </div>
      <% end %>
      
      <%= paginate questions %>
    
</div>
