<div class="main_visual">
        <img src="/assets/main_visual.jpg">
        <div class="main_text">
            <h2>ArabiQ</h2>
            <p>ArabiQはアラビア語の質問サイトです。アラビア語は<br>
               世界で5番目に母語話者数が多い言語であり、国連の公<br>
               用語にもなっています。しかし日本での学習者の数は<br>
               いまだに少ないのが現状です。また、アラビア語を学<br>
               習していく中で、独学ではわからないことも出てくる<br>
               はずです。そんな時には、このサイトで気軽に質問し<br>
               てみましょう!
            </p>
                <% if logged_in? %>
                  <%= link_to '質問する', new_question_path, class: 'btn btn-lg btn-success' %>
                <% else %>
                  <%= link_to 'ユーザー登録', new_user_path, class: 'btn btn-primary'%>
                <% end %>
        </div>
</div>

<div class="container">
    <div class="text-center mt-5">
       <h1>質問一覧</h1>
    </div>
    <div class="border-top"></div>
  
    <div class="row">
      <% @questions.each do |question| %>
        <div class="col-sm-4 mt-3 mb-3">
            <div class="w-50 ">
              <%= render 'layouts/prof_icon', user: question.user %>
            </div>
        </div>
        <div class="col-sm-8">
          <%= render 'layouts/question_index', question: question, user: question.user %>
        </div>
      <% end %>
        
    </div>
</div>