#global_nav {
    text-align: center;
}

#global_nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
    padding: 0px;
    width: 100%;
    
}

#global_nav ul li{
    list-style: none;
    background-color: #343a40;
    border: solid 2px white;
    width: 25%;
}
