<div class="card">
    <img class="rounded-circle d-block mx-auto img-fluid card-img-top" src="<%= gravatar_url(user) %>" alt="">
    <div class="card-footer text-center text-truncate">
      <%= link_to user.name, user_path(user.id) %>
    </div>
</div>